<h1>{{title}}</h1>

<style>
    .custom-file-input~.custom-file-label::after {
        content: "Button Text";
    }
</style>

<form method="POST" action="/upload/files/db" enctype="multipart/form-data">
  <div class="custom-file form-group" id="customFile" lang="en">
    <input type="file" name="files" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp">
    <label class="custom-file-label" for="exampleInputFile">
           Select file(s)...
    </label>
  </div>
  <button class="btn btn-primary">Upload</button>
</form>
